.main{
    background-color: blue;
    width: 500px;
    height: 500px;
    top: 0;
    position: absolute;
}
.inherit{
    background-color: brown;
    width: 250px;
    height: 250px;
    top: 0;
    left: 0;
    position: inherit;
}
.relative{
    background-color: yellow;
    width: 100px;
    height: 100px;
    top: 0;
    left: 0;
    position: relative;
}

